QLabel {
    color: black;
}

QFrame {
    background: white;
}

QFrame#notification-area,
QFrame#notification-area * {
    color: white;
    border-radius: 3px;
    border: 0px;
}

QFrame#notification-area[level="success"],
QFrame#notification-area[level="success"] * {
    background-color: green;
}

QFrame#notification-area[level="error"],
QFrame#notification-area[level="error"] * {
    background-color: #A73838;
}

QFrame#notification-area[level="info"],
QFrame#notification-area[level="info"] * {
    background-color: blue;
}

QTreeView {
    border-radius: 3px;
    border: 1px solid #999999;
}

QLineEdit,
QPushButton,
QHeaderView::section {
    background: #F0F0F0;
    color: black;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid #CCC;
}

QLineEdit[valid=false] {
    background-color: orange;
}

QHeaderView::section {
    border-radius: 0px;
}

QPushButton::hover {
    background: #C6C6C6;
}

QCheckBox::indicator {
    width: 13px;
    height: 13px;
    border: 1px solid #CCC;
    border-radius: 2px;
}

QCheckBox::indicator:hover {
    background-color: #C6C6C6;
}

QCheckBox::indicator:checked {
    image: url(:/black/check);
}

QMenuBar {
    border-bottom: 1px solid #C6C6C6;
}

QMenuBar,
QMenu::item {
    background-color: white;
}

QMenu::item:selected {
    color: black;
}

QTreeView::branch:closed:has-children {
    border-image: none;
    image: url(:/black/plus);
}

QTreeView::branch:open:has-children {
    border-image: none;
    image: url(:/black/minus);
}
